<h2>
    请求地址:/api/ExternalAPI/SetSafePwd
</h2>
<h2>
    <hr />
</h2>
<h2>
    请求参数说明
</h2>
<h2>
    <hr />
</h2>
<p>
    <br />
</p>
<p></p>
<table>
    <tbody>
        <tr>
            <th>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;参数名
            </th>
            <th>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;必选
            </th>
            <th>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;类型
            </th>
            <th>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;说明
            </th>
        </tr>
        <tr>
            <td>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;pwd
            </td>
            <td>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;是
            </td>
            <td>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;string
            </td>
            <td>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;PIN值
            </td>
        </tr>
        <tr>
            <td>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Token(放header里面)
            </td>
            <td>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;是
            </td>
            <td>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;string
            </td>
            <td>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;用户票据
            </td>
        </tr>
        <tr>
            <td>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;ClientType
            </td>
            <td>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;是
            </td>
            <td>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;string
            </td>
            <td>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;客户端类型(API为3)
            </td>
        </tr>
    </tbody>
</table>
<p>
    <span> </span>
</p>
<p></p>
<hr />
<h2>
    请求示例
    <hr />
</h2>
<pre class="prettyprint lang-js">   
 $(&quot;#btn4&quot;).click(function () {
            var param = {
                &quot;UserID&quot;: $(&quot;#get_UserID&quot;).val(),
            };
            $.ajax({
                type: &quot;post&quot;,
                url: path + &quot;/api/ExternalAPI/GetAssets&quot;,
                data: param,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(&quot;Token&quot;, $(&quot;#get_token&quot;).html());
                    xhr.setRequestHeader(&quot;ClientType&quot;, &quot;3&quot;);
                },
                success: function (data, status) {
                    $(&quot;#getStatus&quot;).html(data.StatusCode);
                    $(&quot;#getMsg&quot;).html(data.Msg);
                    $(&quot;#getData&quot;).html(JSON.stringify(data.Data));
                }
            });
        })</pre>
<hr />
<h2>
    &nbsp;返回示例
</h2>
<pre class="prettyprint lang-js">{
    &quot;Data&quot;: {
        &quot;UserID&quot;: &quot;CFDftMtF5E-BJpQQCglhHA&quot;,
        &quot;TotalRMB&quot;: 0,
        &quot;CNYExchangeRate&quot;: 0,
        &quot;HKDExchangeRate&quot;: 0,
        &quot;NewestBTCPrice&quot;: 0,
        &quot;TotalUSD&quot;: 0,
        &quot;TotalHKD&quot;: 0,
        &quot;TotalBTC&quot;: 0,
        &quot;Assets&quot;: null
    },
    &quot;Status&quot;: true,
    &quot;Msg&quot;: null,
    &quot;Url&quot;: null,
    &quot;StatusCode&quot;: &quot;200&quot;,
    &quot;Extra&quot;: null
}</pre>