@{
    ViewData["Title"] = "Home Page";
}

<button onclick="testPost()">提交测试</button>


<script src="~/js/jquery.min.js"></script>
<script>
    var mm;
    function testPost() {
        var param = {
            "user_name": "admin",
            //"mobile": "123456",
            "order": [{ "searchType": 1, "value": "id" }],
            "paging": [1, 10]
        };
        $.ajax({
            type: "post",
            url: "http://localhost:7075/api/user/getlist",
            data: JSON.stringify(param),
            async: false,
            contentType: 'application/json; charset=urf-8',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("token", "C86A6FA1BE3008DA70D3CC3E331DCF33");
            },
            success: function (data, status) {
                alert(data);
                mm = data;
            }
        });
    }

</script>