@model Tibos.Domain.Role
@{
    ViewData["Title"] = "创建";
}
<form id="form" class="layui-form" action="">
    <div class="layui-col-xs11" style="margin-top:5%">
        <div class="layui-form-item">
            <label class="layui-form-label">角色名</label>
            <div class="layui-input-block">
                <input type="text" name="UserName" required lay-verify="title" placeholder="请输入角色名" autocomplete="off" class="layui-input" value="@Model?.Name">
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入描述" class="layui-textarea">@Model?.Description</textarea>
            </div>
        </div>

        <div class="layui-form-item" pane="">
            <fieldset class="layui-elem-field site-demo-button" style="margin-left:110px">
                <legend>系统设置</legend>
                <label class="layui-form-label">菜单管理</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
                    <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
                    <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏">
                    <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
                    <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
                    <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏"
                    <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
                    <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
                    <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏"
                    <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
                    <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
                    <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏"
                    <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
                    <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
                    <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏"
                    <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
                    <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
                    <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏"
                    <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
                    <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
                    <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏"
                </div>
            </fieldset>
        </div>

        <div class="layui-form-item" pane="">
            <fieldset class="layui-elem-field site-demo-button" style="margin-left:110px">
                <legend>系统设置</legend>
                <div class="layui-form-item" pane="" style="margin:0px">
                    <label class="layui-form-label">系统设置</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
                        <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
                        <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏">
                    </div>
                </div>
                <div class="layui-form-item" pane="" style="margin:0px">
                    <label class="layui-form-label">菜单管理</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
                        <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
                        <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏">
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="layui-form-item" pane="">
            <fieldset class="layui-elem-field site-demo-button" style="margin-left:110px">
                <legend>系统设置</legend>
                <div class="layui-form-item" pane="" style="margin:0px">
                    <label class="layui-form-label">系统设置</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
                        <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
                        <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏">
                    </div>
                </div>
                <div class="layui-form-item" pane="" style="margin:0px">
                    <label class="layui-form-label">菜单管理</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
                        <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
                        <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏">
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="layui-form-item" pane="">
            <fieldset class="layui-elem-field site-demo-button" style="margin-left:110px">
                <legend>系统设置</legend>
                <div class="layui-form-item" pane="" style="margin:0px">
                    <label class="layui-form-label">系统设置</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
                        <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
                        <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏">
                    </div>
                </div>
                <div class="layui-form-item" pane="" style="margin:0px">
                    <label class="layui-form-label">菜单管理</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
                        <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
                        <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏">
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="layui-form-item" pane="">
            <fieldset class="layui-elem-field site-demo-button" style="margin-left:110px">
                <legend>系统设置</legend>
                <div class="layui-form-item" pane="" style="margin:0px">
                    <label class="layui-form-label">系统设置</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
                        <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
                        <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏">
                    </div>
                </div>
                <div class="layui-form-item" pane="" style="margin:0px">
                    <label class="layui-form-label">菜单管理</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
                        <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
                        <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏">
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="layui-form-item" pane="">
            <fieldset class="layui-elem-field site-demo-button" style="margin-left:110px">
                <legend>系统设置</legend>
                <div class="layui-form-item" pane="" style="margin:0px">
                    <label class="layui-form-label">系统设置</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
                        <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
                        <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏">
                    </div>
                </div>
                <div class="layui-form-item" pane="" style="margin:0px">
                    <label class="layui-form-label">菜单管理</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
                        <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
                        <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏">
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="layui-form-item" pane="">
            <fieldset class="layui-elem-field site-demo-button" style="margin-left:110px">
                <legend>系统设置</legend>
                <div class="layui-form-item" pane="" style="margin:0px">
                    <label class="layui-form-label">系统设置</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
                        <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
                        <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏">
                    </div>
                </div>
                <div class="layui-form-item" pane="" style="margin:0px">
                    <label class="layui-form-label">菜单管理</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
                        <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
                        <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏">
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="layui-form-item" pane="">
            <fieldset class="layui-elem-field site-demo-button" style="margin-left:110px">
                <legend>系统设置</legend>
                <div class="layui-form-item" pane="" style="margin:0px">
                    <label class="layui-form-label">系统设置</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
                        <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
                        <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏">
                    </div>
                </div>
                <div class="layui-form-item" pane="" style="margin:0px">
                    <label class="layui-form-label">菜单管理</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
                        <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
                        <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏">
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="layui-form-item" pane="">
            <fieldset class="layui-elem-field site-demo-button" style="margin-left:110px">
                <legend>系统设置</legend>
                <div class="layui-form-item" pane="" style="margin:0px">
                    <label class="layui-form-label">系统设置</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
                        <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
                        <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏">
                    </div>
                </div>
                <div class="layui-form-item" pane="" style="margin:0px">
                    <label class="layui-form-label">菜单管理</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">
                        <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
                        <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏">
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="layui-form-item layui-hide">
            <input type="button" lay-submit="" lay-filter="layuiadmin-app-form-submit" id="layuiadmin-app-form-submit" value="确认添加">
            <input type="button" lay-submit="" lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="确认编辑">
        </div>

    </div>
</form>
<script>
    layui.use('form', function () {
        var form = layui.form;
        //自定义验证规则
        form.verify({

        });
        //监听提交
        form.on('submit(layuiadmin-app-form-submit)', function (data) {
            var field = data.field; //获取提交的字段
            return postForm("/cms/news/create", field);
        });
        form.on('submit(layuiadmin-app-form-edit)', function (data) {

            return false;
        });

        //提取公共提交表单方法
        function postForm(url, field)
        {
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引  
            //提交 Ajax 成功后，关闭当前弹层并重载表格
            $.post(url, field, function (data)
            {
                if (data)
                {
                    //parent.layui.table.reload('tableList'); //重载表格
                    //parent.layer.close(index); //再执行关闭 
                }
            })
        }
    });
</script>